<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsah.koperasi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Menu.Simpanan.CaraPembayaran"></activity>
        <activity android:name=".Menu.Simpanan.Simpanan" />
        <activity android:name=".Menu.Simpanan.listSimpanan" />
        <activity android:name=".Menu.Simpanan.UploadSimpanan" />
        <activity android:name=".Menu.Pinjaman.DetailPengajuanPinjaman" />
        <activity android:name=".Menu.Pinjaman.Pengajuan" />
        <activity android:name=".Menu.Pinjaman.MainPinjaman" />
        <activity android:name=".Menu.Saldo.DetailSaldo" />
        <activity android:name=".Menu.Barang.PesananActivity" />
        <activity android:name=".Menu.Barang.KeranjangActivity" />
        <activity android:name=".Menu.Barang.MenuBarang" />
        <activity android:name=".Menu.Barang.DetailBarang" />
        <activity android:name=".Menu.Barang.Barang" />
        <activity android:name=".Auth.RegisterNew" />
        <activity android:name=".Auth.Register_Next_Simpan_New" />
        <activity android:name=".Menu.Profile.Profile" />
        <activity android:name=".Auth.Upload_Foto.Foto_PRIBADI" />
        <activity android:name=".Auth.Upload_Foto.Foto_Bukti_Transfer" />
        <activity android:name=".Auth.Upload_Foto.Foto_ID_CARD" />
        <activity android:name=".Menu.Pengaturan" />
        <activity android:name=".Menu.ChangePassword" />
        <activity android:name=".Auth.ForgotPassword" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Auth.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>